streamlit==1.37.0
langchain==0.2.6
langchain-community==0.2.6
langchain-huggingface==0.0.3
sentence-transformers==2.7.0
transformers==4.41.2
torch==2.2.2
faiss-cpu==1.7.4
pypdf==4.2.0
pydantic==1.10.13
